ProjetWCF/ClientBiblio/MainApp/Service References/ServiceReferenceLecteur/Entities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBIB_AllLibelle_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BIB_AllLibelle_Result" nillable="true" type="tns:BIB_AllLibelle_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBIB_AllLibelle_Result" nillable="true" type="tns:ArrayOfBIB_AllLibelle_Result" />
  <xs:complexType name="BIB_AllLibelle_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIB_ID" type="xs:int" />
      <xs:element minOccurs="0" name="BIB_Libelle" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BIB_AllLibelle_Result" nillable="true" type="tns:BIB_AllLibelle_Result" />
  <xs:complexType name="LEC_Login_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="LEC_Id" type="xs:int" />
      <xs:element minOccurs="0" name="LEC_UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LEC_Login_Result" nillable="true" type="tns:LEC_Login_Result" />
  <xs:complexType name="ArrayOfEMP_AllEmpruntsRenduByLEC_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMP_AllEmpruntsRenduByLEC_Id_Result" nillable="true" type="tns:EMP_AllEmpruntsRenduByLEC_Id_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMP_AllEmpruntsRenduByLEC_Id_Result" nillable="true" type="tns:ArrayOfEMP_AllEmpruntsRenduByLEC_Id_Result" />
  <xs:complexType name="EMP_AllEmpruntsRenduByLEC_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bibliothèque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_d_emprunt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMP_DateRetour" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EMP_MontantPaye" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Exemplaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMP_AllEmpruntsRenduByLEC_Id_Result" nillable="true" type="tns:EMP_AllEmpruntsRenduByLEC_Id_Result" />
  <xs:complexType name="LEC_GetUserData_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="LEC_Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_CodePostal" type="xs:int" />
      <xs:element minOccurs="0" name="LEC_DateDeNaissance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_Photo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_Sexe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LEC_Ville" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LEC_GetUserData_Result" nillable="true" type="tns:LEC_GetUserData_Result" />
  <xs:complexType name="ArrayOfRES_ListeReservationsDisponibleByLEC_IdByBib_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RES_ListeReservationsDisponibleByLEC_IdByBib_Result" nillable="true" type="tns:RES_ListeReservationsDisponibleByLEC_IdByBib_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRES_ListeReservationsDisponibleByLEC_IdByBib_Result" nillable="true" type="tns:ArrayOfRES_ListeReservationsDisponibleByLEC_IdByBib_Result" />
  <xs:complexType name="RES_ListeReservationsDisponibleByLEC_IdByBib_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIB_Libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXE_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXE_Id" type="xs:int" />
      <xs:element minOccurs="0" name="LEC_Id" type="xs:int" />
      <xs:element minOccurs="0" name="LIV_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RES_ListeReservationsDisponibleByLEC_IdByBib_Result" nillable="true" type="tns:RES_ListeReservationsDisponibleByLEC_IdByBib_Result" />
  <xs:complexType name="ArrayOfEMP_RetardsAllBibByLec_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMP_RetardsAllBibByLec_Result" nillable="true" type="tns:EMP_RetardsAllBibByLec_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMP_RetardsAllBibByLec_Result" nillable="true" type="tns:ArrayOfEMP_RetardsAllBibByLec_Result" />
  <xs:complexType name="EMP_RetardsAllBibByLec_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Bibliotheque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date_d_emprunt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Exemplaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Exemplaire" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Jours_de_retard" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LIV_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Montant_total_du__" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMP_RetardsAllBibByLec_Result" nillable="true" type="tns:EMP_RetardsAllBibByLec_Result" />
  <xs:complexType name="ArrayOfRES_ListeReservationsByLEC_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RES_ListeReservationsByLEC_Id_Result" nillable="true" type="tns:RES_ListeReservationsByLEC_Id_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRES_ListeReservationsByLEC_Id_Result" nillable="true" type="tns:ArrayOfRES_ListeReservationsByLEC_Id_Result" />
  <xs:complexType name="RES_ListeReservationsByLEC_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date_de_réservation" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID_Réservation" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIV_Auteurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIV_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RES_ListeReservationsByLEC_Id_Result" nillable="true" type="tns:RES_ListeReservationsByLEC_Id_Result" />
  <xs:complexType name="ArrayOfEMP_AllEmpruntsEnCoursByLEC_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EMP_AllEmpruntsEnCoursByLEC_Id_Result" nillable="true" type="tns:EMP_AllEmpruntsEnCoursByLEC_Id_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEMP_AllEmpruntsEnCoursByLEC_Id_Result" nillable="true" type="tns:ArrayOfEMP_AllEmpruntsEnCoursByLEC_Id_Result" />
  <xs:complexType name="EMP_AllEmpruntsEnCoursByLEC_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIB_Libelle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_DateEmprunt" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXE_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIV_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIV_Titre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Retard" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TAR_Emprunt" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EMP_AllEmpruntsEnCoursByLEC_Id_Result" nillable="true" type="tns:EMP_AllEmpruntsEnCoursByLEC_Id_Result" />
  <xs:complexType name="ArrayOfEXE_AllExemplairesByBibId_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EXE_AllExemplairesByBibId_Result" nillable="true" type="tns:EXE_AllExemplairesByBibId_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEXE_AllExemplairesByBibId_Result" nillable="true" type="tns:ArrayOfEXE_AllExemplairesByBibId_Result" />
  <xs:complexType name="EXE_AllExemplairesByBibId_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auteurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bibliotheque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exemplaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Exemplaire" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LIV_Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EXE_AllExemplairesByBibId_Result" nillable="true" type="tns:EXE_AllExemplairesByBibId_Result" />
  <xs:complexType name="ArrayOfEXE_AllExemplairesDispoByBibByISBN_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EXE_AllExemplairesDispoByBibByISBN_Result" nillable="true" type="tns:EXE_AllExemplairesDispoByBibByISBN_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEXE_AllExemplairesDispoByBibByISBN_Result" nillable="true" type="tns:ArrayOfEXE_AllExemplairesDispoByBibByISBN_Result" />
  <xs:complexType name="EXE_AllExemplairesDispoByBibByISBN_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auteurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bibliotheque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exemplaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_Exemplaire" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EXE_AllExemplairesDispoByBibByISBN_Result" nillable="true" type="tns:EXE_AllExemplairesDispoByBibByISBN_Result" />
  <xs:complexType name="ArrayOfEXE_AllExemplairesDispoByBibByTitle_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EXE_AllExemplairesDispoByBibByTitle_Result" nillable="true" type="tns:EXE_AllExemplairesDispoByBibByTitle_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEXE_AllExemplairesDispoByBibByTitle_Result" nillable="true" type="tns:ArrayOfEXE_AllExemplairesDispoByBibByTitle_Result" />
  <xs:complexType name="EXE_AllExemplairesDispoByBibByTitle_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auteurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bibliothèque" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXE_Id" type="xs:int" />
      <xs:element minOccurs="0" name="Exemplaire" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EXE_AllExemplairesDispoByBibByTitle_Result" nillable="true" type="tns:EXE_AllExemplairesDispoByBibByTitle_Result" />
  <xs:complexType name="ArrayOfLIV_LivreByBib_idByISBN_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LIV_LivreByBib_idByISBN_Result" nillable="true" type="tns:LIV_LivreByBib_idByISBN_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLIV_LivreByBib_idByISBN_Result" nillable="true" type="tns:ArrayOfLIV_LivreByBib_idByISBN_Result" />
  <xs:complexType name="LIV_LivreByBib_idByISBN_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auteurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LIV_LivreByBib_idByISBN_Result" nillable="true" type="tns:LIV_LivreByBib_idByISBN_Result" />
  <xs:complexType name="ArrayOfLIV_LivreByBib_idByTitre_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LIV_LivreByBib_idByTitre_Result" nillable="true" type="tns:LIV_LivreByBib_idByTitre_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLIV_LivreByBib_idByTitre_Result" nillable="true" type="tns:ArrayOfLIV_LivreByBib_idByTitre_Result" />
  <xs:complexType name="LIV_LivreByBib_idByTitre_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auteurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LIV_LivreByBib_idByTitre_Result" nillable="true" type="tns:LIV_LivreByBib_idByTitre_Result" />
  <xs:complexType name="ArrayOfLIV_LivreByBib_id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LIV_LivreByBib_id_Result" nillable="true" type="tns:LIV_LivreByBib_id_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLIV_LivreByBib_id_Result" nillable="true" type="tns:ArrayOfLIV_LivreByBib_id_Result" />
  <xs:complexType name="LIV_LivreByBib_id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auteurs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ISBN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LIV_LivreByBib_id_Result" nillable="true" type="tns:LIV_LivreByBib_id_Result" />
</xs:schema>