WCF/ClientWCF/ClientWCF/Service References/ServiceWCF/BiblioService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BiblioService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BiblioService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfEXE_AllExemplaireBIB_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EXE_AllExemplaireBIB_Id_Result" nillable="true" type="tns:EXE_AllExemplaireBIB_Id_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEXE_AllExemplaireBIB_Id_Result" nillable="true" type="tns:ArrayOfEXE_AllExemplaireBIB_Id_Result" />
  <xs:complexType name="EXE_AllExemplaireBIB_Id_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIB_ID" type="xs:int" />
      <xs:element minOccurs="0" name="EXE_Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXE_DateAchat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXE_Id" type="xs:int" />
      <xs:element minOccurs="0" name="EXE_Indisponible" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="LIV_Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EXE_AllExemplaireBIB_Id_Result" nillable="true" type="tns:EXE_AllExemplaireBIB_Id_Result" />
</xs:schema>