ProjetLocal/Bibliotheque_SGBD2016/MainApp/Service References/ServiceWCF/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BiblioService" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EXE_CreerExemplaire_InputMessage">
    <wsdl:part name="parameters" element="tns:EXE_CreerExemplaire" />
  </wsdl:message>
  <wsdl:message name="IService1_EXE_CreerExemplaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:EXE_CreerExemplaireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllExemplairesAllBib_InputMessage">
    <wsdl:part name="parameters" element="tns:AllExemplairesAllBib" />
  </wsdl:message>
  <wsdl:message name="IService1_AllExemplairesAllBib_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllExemplairesAllBibResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllExemplairesByBibId_InputMessage">
    <wsdl:part name="parameters" element="tns:AllExemplairesByBibId" />
  </wsdl:message>
  <wsdl:message name="IService1_AllExemplairesByBibId_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllExemplairesByBibIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllRetardataires_InputMessage">
    <wsdl:part name="parameters" element="tns:AllRetardataires" />
  </wsdl:message>
  <wsdl:message name="IService1_AllRetardataires_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllRetardatairesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllLivres_InputMessage">
    <wsdl:part name="parameters" element="tns:AllLivres" />
  </wsdl:message>
  <wsdl:message name="IService1_AllLivres_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllLivresResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_RetournerExemplaire_InputMessage">
    <wsdl:part name="parameters" element="tns:RetournerExemplaire" />
  </wsdl:message>
  <wsdl:message name="IService1_RetournerExemplaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:RetournerExemplaireResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllLecteurs_InputMessage">
    <wsdl:part name="parameters" element="tns:AllLecteurs" />
  </wsdl:message>
  <wsdl:message name="IService1_AllLecteurs_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllLecteursResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllEmpruntsEnCours_InputMessage">
    <wsdl:part name="parameters" element="tns:AllEmpruntsEnCours" />
  </wsdl:message>
  <wsdl:message name="IService1_AllEmpruntsEnCours_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllEmpruntsEnCoursResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AllReservationsEnCours_InputMessage">
    <wsdl:part name="parameters" element="tns:AllReservationsEnCours" />
  </wsdl:message>
  <wsdl:message name="IService1_AllReservationsEnCours_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllReservationsEnCoursResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LivreByISBN_InputMessage">
    <wsdl:part name="parameters" element="tns:LivreByISBN" />
  </wsdl:message>
  <wsdl:message name="IService1_LivreByISBN_OutputMessage">
    <wsdl:part name="parameters" element="tns:LivreByISBNResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LivreByTitre_InputMessage">
    <wsdl:part name="parameters" element="tns:LivreByTitre" />
  </wsdl:message>
  <wsdl:message name="IService1_LivreByTitre_OutputMessage">
    <wsdl:part name="parameters" element="tns:LivreByTitreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EXE_CreerExemplaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EXE_CreerExemplaire" message="tns:IService1_EXE_CreerExemplaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EXE_CreerExemplaireResponse" message="tns:IService1_EXE_CreerExemplaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllExemplairesAllBib">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllExemplairesAllBib" message="tns:IService1_AllExemplairesAllBib_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllExemplairesAllBibResponse" message="tns:IService1_AllExemplairesAllBib_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllExemplairesByBibId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllExemplairesByBibId" message="tns:IService1_AllExemplairesByBibId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllExemplairesByBibIdResponse" message="tns:IService1_AllExemplairesByBibId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllRetardataires">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllRetardataires" message="tns:IService1_AllRetardataires_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllRetardatairesResponse" message="tns:IService1_AllRetardataires_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllLivres">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllLivres" message="tns:IService1_AllLivres_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllLivresResponse" message="tns:IService1_AllLivres_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RetournerExemplaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/RetournerExemplaire" message="tns:IService1_RetournerExemplaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RetournerExemplaireResponse" message="tns:IService1_RetournerExemplaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllLecteurs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllLecteurs" message="tns:IService1_AllLecteurs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllLecteursResponse" message="tns:IService1_AllLecteurs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllEmpruntsEnCours">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllEmpruntsEnCours" message="tns:IService1_AllEmpruntsEnCours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllEmpruntsEnCoursResponse" message="tns:IService1_AllEmpruntsEnCours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AllReservationsEnCours">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AllReservationsEnCours" message="tns:IService1_AllReservationsEnCours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AllReservationsEnCoursResponse" message="tns:IService1_AllReservationsEnCours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LivreByISBN">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LivreByISBN" message="tns:IService1_LivreByISBN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LivreByISBNResponse" message="tns:IService1_LivreByISBN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LivreByTitre">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LivreByTitre" message="tns:IService1_LivreByTitre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LivreByTitreResponse" message="tns:IService1_LivreByTitre_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EXE_CreerExemplaire">
      <soap:operation soapAction="http://tempuri.org/IService1/EXE_CreerExemplaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllExemplairesAllBib">
      <soap:operation soapAction="http://tempuri.org/IService1/AllExemplairesAllBib" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllExemplairesByBibId">
      <soap:operation soapAction="http://tempuri.org/IService1/AllExemplairesByBibId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllRetardataires">
      <soap:operation soapAction="http://tempuri.org/IService1/AllRetardataires" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllLivres">
      <soap:operation soapAction="http://tempuri.org/IService1/AllLivres" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetournerExemplaire">
      <soap:operation soapAction="http://tempuri.org/IService1/RetournerExemplaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllLecteurs">
      <soap:operation soapAction="http://tempuri.org/IService1/AllLecteurs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllEmpruntsEnCours">
      <soap:operation soapAction="http://tempuri.org/IService1/AllEmpruntsEnCours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AllReservationsEnCours">
      <soap:operation soapAction="http://tempuri.org/IService1/AllReservationsEnCours" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LivreByISBN">
      <soap:operation soapAction="http://tempuri.org/IService1/LivreByISBN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LivreByTitre">
      <soap:operation soapAction="http://tempuri.org/IService1/LivreByTitre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/BiblioService/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>